.App {
  text-align: center;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.background-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: -1;
}

.content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
