.zoom-reset-controls {
  position: absolute;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.zoom-reset-controls button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--gradient-45deg);
  z-index: 999;
  color: black !important;
}
